.body {
  font-family: "Playfair Display", serif;
  background-color: #F6F2F0;
}

.block-one {
  text-align: center;
}

h1 {
  font-weight: 700;
  padding: 0 0 1em 0;
}

.block-one img {
  display: block;
  margin: 1em auto;
  max-width: 400px;
}

.block-two {
  background-color: #F3E7E4;
}

section,
footer {
  padding: 2em 0;
}

.block-three {
  background-color: #E7D1C9;
}

.color_block4 {
  background-color: #DFC2B7;
}

.paragraphone {
  text-align: center;
  /* font-family: "Playfair Display", serif; */
}

.centeredtext {
  text-align: center;
  font-size: large;
}

.borderedtext {
  border: 2px dashed black;
  padding: 10px;
  display: inline-block;
}

.smallimg {
  display: flex;
  flex-direction: row;
  float: left;
  width: 40px;
}

.contact {
  text-align: center;
}

.contact h2 {
  font-style: italic;
}

/*
.container {
  width:100%;
  float:right;
  margin-left:10px;
}*/
a {
  color: black;
}