body {
    margin:0;
    font-family: "Barlow Condensed", sans-serif;
    font-weight:400;
    padding: 5px;
    background-color: #F5EEE8;
}
header{
    padding:30% 5%;
    min-height:100vh;
    text-shadow:5px 5px 10px grey;
    background-image:url('../images/counselingcenter.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    margin: 0;
}
.captionone {
    font-family: "Barlow Condensed", sans-serif;
    font-weight:600;
    padding: 5px;
    text-align: center;
}

h1 {
    padding: 10px;
    text-align: center;
    font-size: 2.7em;
}
h1,
.quotes {
    font-family: "Poetsen One", sans-serif;
    font-weight: 800;
    padding: 10px;
    font-size: 2.7em;
}


.captions {
    color:dimgray;
    text-align: center;
}

.quotes {
    font-weight: 100;
    font-size: 0.85em;
    background-color: #F5EEE8;
    padding: 0px 10px 10px 5px;
    text-align: center;
    border-left:4px solid black;
}

.borderedtext {
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
    border: 3px solid black;
    text-align: center;
    padding: 10px;
    font-size: 1.6em;
}

footer img {
    display:block;
    margin: 0 auto;
}
