body {
    margin:0;
}
header{
    padding:30% 5%;
    min-height:100vh;
    text-shadow:5px 5px 10px grey;
    background-image:url('../images/counselingcenter.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    margin: 0;
}
.captionone {
    font-family: "Barlow Condensed", sans-serif;
    font-weight:600;
    font-style:normal;
    margin: 0;
    padding: 5px;
    text-align: center;
}
h1,
h2 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    padding: 10px;
    font-size:50px;
    margin:0;
}
p,
.captions {
    font-family: "Barlow Condensed", sans-serif;
    font-weight:400;
    font-style:normal;
    margin: 0;
    padding: 5px;
}
.captions {
    color:dimgray;
    text-align: center;
    background-color: #F5EEE8;
    margin:0;
}
.backgroundone {
    background-color: #F5EEE8;
    margin:0;
    padding: 10px;
    text-align:left;
}
h2,
.quotes {
    font-weight: 100;
    font-size:15px;
    background-color: #F5EEE8;
    padding: 0px 10px 10px 5px;
    text-align: center;
}
.graphone,
.graphtwo {
    background-color: #F5EEE8;
    text-align: left;
}
.borderedtext {
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
    border: 3px solid black;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}
.graphtwo,
.image {
    text-align:left;
    padding:10px;
}
.center,
h2 {
    text-align: left;
    padding: 10px;
    border-left:4px solid black;
}
.image,
.imagetwo {
    max-width: 100%;
    height: auto;
}
.final {
    background-color:#F5EEE8 ;
    display: flex;
    justify-content: center;
}
