head {
font-family: "Inter", sans-serif;
font-family: "Roboto", sans-serif;
font-weight: 100;
font-style: normal;
}
.center {
    text-align: center;
}
header {
    background-color:#3363FF;
    color:#FFFFFF;
    padding: 20px;
    text-align:center;
}
.content {
    background-color: #3363FF;
    color:#FFFFFF;
    padding: 20px;
    text-align: center;
}
footer {
    background-color: #3363FF;
    color: #FFFFFF;
    padding: 20px;
    text-align:center;
}